@import "../../assets/colors.css";
@import "../../assets/breakpoints.css";

.App_Button_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.submitButton {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.helpText {
  font-size: 16px;
  font-style: italic;
}

.spinner {
  margin-left: 10px;
}

.alert {
  font-size: 16px;
  padding: 5px;
  margin: 20px;
  max-width: 400px;
}

.TextBackground {
  transition-duration: 2s;
  color: whte;
}

.HelpText {
  font-size: 16px;
  transition-duration: 2s;
  color: white;
}
