{
  "extends": ["airbnb", "prettier", "plugin:jsx-a11y/recommended"],
  "rules": {
    "quotes": ["error", "double"],
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
