{
  "extends": ["airbnb", "prettier", "plugin:jsx-a11y/recommended"],
  "plugins": ["testing-library", "jest-dom"],
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }]
  }
}
