.Dark_Mode_Toggle_Button__Container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -47.6px;
  margin-left: -25.6px;
  width: 132px;
  height: 132px;
}

.Dark_Mode_Toggle_Button {
  cursor: pointer;
  overflow: hidden;
  width: 80px;
  height: 37.6px;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
}
