@import "../assets/colors.css";
@import "../assets/breakpoints.css";

.App {
  text-align: center;
}

.App_Dark,
:root {
  --background: var(--background-dark);
  --text: var(--text-light);
  --button: var(--background-light);
}

.App_Light,
:root {
  --background: var(--background-light);
  --text: var(--text-dark);
  --button: var(--background-dark);
}

.App_Background {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.App_Container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: var(--text);
}

.Logo {
  height: 150px;
  width: 150px;
  align-self: flex-end;
  margin: 20px;
}

.Switch_Mode__Button {
  margin-top: 30px;
}
