@import "../../colors.css";

.EmojiButton {
  height: 100px;
  width: 100px;
  margin: 20px;
  background-color: var(--background-light);
  font-size: 48px;
  border-radius: 100px;
  border-width: 1px;
  border-color: var(--border-dark);
}

.EmojiButton_selected {
  background-color: var(--highlight);
}
