.EmojiButton {
  height: 100px;
  width: 100px;
  margin: 20px;
  background-color: lightgray;
  font-size: 48px;
  border-radius: 100px;
  border-width: 1px;
  border-color: black;
}

.EmojiButton_selected {
  background-color: blueviolet;
}
